[2015-09-21 04:52] chriswmackey opened #1 "THE GRAND LIST OF WHAT MUST BE DONE BEFORE FIRST RELEASE"
Hello All,

This issue has been started in order to lay out the full path that the dragonfly must follow for a first public release to occur.  This plan of action is adapted from conversations that I have had with @mostaphaRoudsari , @antonszilasi , as well as many others.

This is the full list of components that I have planned for the first release, organized by tab, sub-tab, and component name.

[2015-09-21 05:12] chriswmackey opened #2 "How to Improve the Current Climate Change Weather Gen (CCWeatherGen) Tool"
I am starting this issue specifically because @antonszilasi us beginning work on a python version of the current Excel-based 'Climate Change Weather Gen' (CCWeatherGen) Tool.  This is tool that almost everyone uses to warp EPW files to future climate change scenarios projected by the Intergovernmental Panel on Climate Change (IPCC).

This issue is where anyone should feel free to post ways in whic

[2015-09-21 05:17] chriswmackey commented on #2
Also, I just wanted to make sure that I posted the link at which you can currently download and install the CCWeatherGen tool:

http://www.energy.soton.ac.uk/ccworldweathergen/

[2015-09-21 05:29] chriswmackey opened #3 "Rough Skeleton for the Connection to the Urban Weather Generator (UWG)"
I am just pasting here my rough outline of the inputs for the Urban Weather Generator (UWG) components so that I do not loose track of them.  I will close out the issue once I have finished setting up the basic components (without full functionality yet):

Dragonfly_Run Urban Weather Generator
		_epwFile
		_UWGParams
		analysisPeriod_
		epwSitePar_
		boundaryLayerPar_
		_writeXML
		_runIt

	|

	Dr

[2015-09-21 18:25] mostaphaRoudsari commented on #1
Hi Chris, Congratulations for getting the new project started. The list looks good to me. Can't wait to get it installed and start playing around. My only high-level suggestion for now would be to keep geometry dependent and non-geometry dependent functions separate. That will be the key moving forward. I think there is a great potential to adopt many of these components as web-interfaces in the n

[2015-09-22 01:03] chriswmackey commented on #1
@mostaphaRoudsari ,

Thank you and good idea with separating the geometry functions.  I am trying to keep certain components that deal with geometry separate from those that take only text/numerical inputs and I will keep this philosophy with the underlying functions as well.

-Chris

[2015-09-30 04:22] chriswmackey commented on #3
Skeleton Done!

[2015-09-30 04:22] #3 closed

[2015-12-04 06:19] TheodoreGalanos commented on #1
Wow this looks so promising! Will play with your Hydra file this weekend hopefully! Not really sure how I could help apart from beta testing, let me know!

Kind regards,
Theodore.

[2015-12-13 20:26] chriswmackey opened #4 "Put in a Warning If UWG Material is less than 1cm thick"
... as this causes the UWG to crash.

[2016-09-12 07:04] frank984 opened #5 "Name of epw file"
As reported [here](http://www.grasshopper3d.com/group/ladybug/forum/topics/dragonfly-issue?commentId=2985220%3AComment%3A1597286&xg_source=msg_com_gr_forum) there is a mistake with the name of .epw file. See the link above for more details.

[2017-01-09 18:52] saeranv opened #6 "Updated download links in Dragonfly_Dragonfly for latest UWG (v4.1)"
Hey @chriswmackey,

I was testing out the example file for the UWG from Hydra, and found that the Dragonfly_Dragonfly component isn't running due to outdated links to the UWG_Matlab repo. I forked the repo and changed the links/made a new userobject, and it's loading correctly now.

Here's the changes to the source file:
https://github.com/saeranv/Dragonfly/commit/bd0d13f8543244f9714decb0e34d222fd

[2017-01-09 19:00] saeranv commented on #6
And... ten seconds after posting this, I just realized I forgot to use the Update Dragonfly component. Nevermind - rookie mistake. I'll close this.

[2017-01-09 19:00] #6 closed

[2017-01-09 19:31] chriswmackey commented on #6
@saeranv ,
Thanks for going through this process. This has made me realize that I really need to update the hydra example and I will do this soon.  Within the next couple of months, the new components should also be usable.

[2017-01-09 21:17] saeranv commented on #6
@chriswmackey

I'm very excited by this project. Being able to take into account the urban environment in simulations would be really, really useful to me. I'm hoping to use this on a built form policy project I'm working on right now in Toronto  - http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=222101f2e9745410VgnVCM10000071d60f89RCRD .

What will the next update look like? i.e. are you p

[2017-01-10 04:02] chriswmackey commented on #6
@saeranv ,

Glad to hear the excitement!  This type of application is definitely one that Dragonfly and the UWG can weigh in on, although the high latitude of Toronto means that there's probably more benefit to intensifying the heat island to mitigate the cold rather than diminishing it.  I should also give a general disclaimer that many people start using the UWG expecting the effect of heat isla

[2017-01-10 13:49] chriswmackey commented on #6
@saeranv ,
I have updated the example file on Hydra so that this confusion hopefully will not happen again:
https://github.com/chriswmackey/hydra_2/commit/88dafb045922e4855949a1aeb7060b283b9ee651

-Chris

[2017-03-21 12:59] twanito opened #7 "Roof and Wall Veg Fraction"
Input mentions value from 0 to 1 to input fraction of vegetation on surface but code checks for value between 1 and 8.

Error output:"VegFraction must be between 1 (warmest) and 8 (coldest)"

Worth either correcting input requirements or input hint (whichever is incorrect).

Look forward to beta testing this further! :)

[2017-04-26 23:40] chriswmackey commented on #4
I already addressed this for now but the future will require us to fix this bug:
https://github.com/chriswmackey/UWG_Python/issues/3

[2017-04-26 23:40] #4 closed

[2017-04-26 23:40] chriswmackey commented on #5
@frank984 ,
I have fixed this since you posted it.  Sorry for the incredibly late response

[2017-04-26 23:40] #5 closed

[2017-04-26 23:42] chriswmackey commented on #7
Sorry for the very late response, @twanito .
Hmmm. I didn't realize that the UWG supported Veg Fractions like this.  Let me give it a try on my end.

[2017-04-26 23:51] chriswmackey commented on #7
@twanito ,
Yes, this was a bug in my check function.  It is fixed now:
https://github.com/chriswmackey/Dragonfly/commit/93e90174975337b89a6a037f2ba05b60a4e170b9
-Chris

[2017-04-26 23:51] #7 closed

[2017-04-27 07:43] twanito commented on #7
Nice one thanks! Good luck with the PerformanceNetwork presentation this afternoon.

[2017-04-27 17:18] twanito opened #10 "Wiki instructions"
Any chance the install instructions could be in the wiki? I was showing a colleague how to install and it took us forever to find it in the resources folder :)

[2017-05-03 01:10] chriswmackey commented on #10
@twanito ,
Very good idea and thanks for posting it.  I just added the install instructions here:
https://github.com/chriswmackey/Dragonfly/wiki/Instructions-for-Installing-Dragonfly
-Chris

[2017-05-03 01:10] #10 closed

[2017-09-13 19:34] saeranv opened #11 "Typo in Input parameter for night boundary layer height."
As seen here: http://www.grasshopper3d.com/group/ladybug/forum/topics/dragongfly-boundary-layer-parametrization

The input for the Dragonfly_Boundary_Layer_Parameters says 800m which is causing confusion and leading to too large heights to be set for the night boundary layer height. Change to 80m.

Also as work progresses on UWG_Python and translation efforts on the RSMDef.m  and UWG.m proceed, th

[2017-09-25 14:41] chriswmackey commented on #2
Given that I have come to realize that there are a number of issues with the CCWeatherGen tool, I am instead going to press forward by trying to connect to @paragrastogi's [Synthetic Weather](https://github.com/paragrastogi/SyntheticWeather) , which is currently in the process of being translated to Python.  So I am closing out this issue and there will be some new issues coming soon regarding the

[2017-09-25 14:41] #2 closed

[2017-09-25 14:43] chriswmackey opened #12 "Add Support for LANDSAT 8 Images with the Thermal Image Importer"
I am sure that LANSDAT 8 has a different format than the LANDSAT 4-5 data that I have historically used.  I'll have to check this soon and make any necessary changes.

[2017-09-25 14:45] chriswmackey opened #13 "Add the Ability to Get NDVI and True Color Images from the Importer"
Because we already have code to read in the image, it shouldn't be that much more work to add support for NDVI images and True Color images.  I'l try to test this out soon.

[2017-09-29 03:31] ajakubiec opened #14 "UWG.zip Contains Wrong Directory Name (META vs .META)"
Hi Chris,

I'm noting an issue I found in the installation of the UWG. The UWGEngine executable looks for files in .\UWG\UWGEngine_mcr\\**.META**\\; however, the directory in UWG.zip is named .\UWG\UWGEngine_mcr\\**META\\** (missing the dot). It needs to be manually renamed using the command prompt's Rename command or a non-Windows Explorer tool to fix this. You might want to automate this for use

[2017-09-29 06:36] TheodoreGalanos commented on #14
I saw this as well yesterday and forgot to mention. I think it might be related to [this](https://github.com/hansukyang/UWG_Matlab/commit/3f1ca09ce27a1056fab91cfa8130c3128bc85f2f)?

You can also fix it by renaming the folder to .META.

Kind regards,
Theodore.

[2017-09-30 20:45] chriswmackey commented on #14
@ajakubiec ,
Thank you for letting me know about this.  I currently try to automate this using this line in Dragonfly_Dragonfly:
https://github.com/chriswmackey/Dragonfly/blob/master/src/Dragonfly_Dragonfly.py#L1000
It also automates the download of the UWG from the UWG_Matlab github.  If you installed the UWG in the Ladybug folder manually, then this automatic renaming won't happen on your system

[2017-10-01 14:05] ajakubiec commented on #14
For me the Ladybug path is in c:\Users\username\AppData\Roaming\Ladybug\, so that hard coded path may not be effective.

[2017-10-04 02:31] chriswmackey commented on #14
@ajakubiec ,

Got it. Thanks for finding this issue.  I forgot to make that piece of the code adaptable for people who don't have permissions to run things out of the C:\ drive.

I just pushed a change to the code that should fix this issue:
https://github.com/chriswmackey/Dragonfly/commit/3ab5f7553987a1da31622ad88cb2b6ebca716f4d

Let me know if you get the chance to test it out and thanks again f

[2017-10-04 02:31] #14 closed

[2018-02-18 19:05] hamedsangin opened #15 "error Dragonfly_AMY from NCDC Data component"
![image](https://user-images.githubusercontent.com/34301946/36355632-8cc499e8-14fb-11e8-90bc-81be23bea05d.png)
Dragonfly_AMY from NCDC Data component error
i download data from https://gis.ncdc.noaa.gov/maps/ncei/cdo/hourly for one year and i had this error !!

[2018-03-20 18:50] ajakubiec opened #16 "SCR Calculation Incorrect"
Hi Chris,

See the referenced line of code, https://github.com/chriswmackey/Dragonfly/blob/3ab5f7553987a1da31622ad88cb2b6ebca716f4d/src/Dragonfly_UWG%20City%20from%20Typologies.py#L378

This is incorrect, because totalGrassCoverage is the ratio of the grass area to the (grass area + paved area). Total terrain area should be totalBuiltArea + totalPavedArea + totalGrass**Area**.

Separately, I think

[2018-03-31 00:18] chriswmackey commented on #16
Hi Alstan,
Sorry for the late response.  My attention fell by the wayside now that @saeranv has finished translating the U[rban Weather Generator to Python](https://github.com/ladybug-tools/urbanWeatherGen) and we can finally fix some bugs/uncaught exceptions that were deep within the Matlab code.

The way that I wrote this component was that I expected people to plug in non-overlapping breps for

[2018-03-31 00:20] chriswmackey commented on #15
@hamedsangin ,
Sorry for such a late response. Can you post the year's worth of text data that you input to the component?  This will help me debug the situation.  I am also thinking of writing a new version of this component that uses the [DarkSky API](https://darksky.net/dev) and is more reliable.

[2018-04-04 21:59] ajakubiec commented on #16
Hi Chris,

Likewise I apologize for a late response--I'm traveling about the US right now.

Anyways, I think there is 1 issue/bug here and 1 criticism that I had. Let me try to be explicit (I should have made two threads).

**Issue / bug**
Your code defines totalGrassCoverage as the below, so it is a ratio between the grass area and the total unbuilt area.
`totalGrassCoverage = totalGrassArea/(tot

[2018-04-05 16:21] chriswmackey commented on #16
@ajakubiec ,
Yes, that's a bug.  Thank you very much for finding it.  I just fixed it here:
https://github.com/chriswmackey/Dragonfly/commit/7eab4cefe7dfaffc72d12c10d3e4e3cef4f863d2
If you sync with the github, you'll have the fixed version and I'll try to update the example file soon.

As for the concern, I realize that the current setup is a bit confusing.  I should either make the pavementBrep

[2018-04-05 19:52] saeranv commented on #16
@chriswmackey, @ajakubiec

If I'm following along correctly, I'd like to add that from a modeling perspective I believe option two (using terrainBrep as an universal underlying surface that overlaps building and vegetated footprints) would be much easier. If there is a need to keep each set of surfaces discrete (no overlaps), then users would have to choose between using time-consuming manual meth

[2018-05-03 16:35] hamedsangin opened #17 "dragonfly run problem"
hi dear chris
![image](https://user-images.githubusercontent.com/34301946/39590167-6152adbe-4f15-11e8-981a-697cf9449e02.png)
i follow Instructions install ccweathergen and dragon fly but i got still this massage error
i do the fallowing error but still problem not solved
rhino 6 grasshoper v1 win 10

[2018-05-04 16:14] chriswmackey commented on #17
@hamedsangin ,
You have to follow these instructions for the Matlab compiler if you want to run the UWG workflows and get rid of those wanting messgaes:

https://github.com/chriswmackey/Dragonfly/blob/master/resources/Installation_Instructions.MD

[2018-05-04 16:14] #17 closed

[2018-05-04 16:17] chriswmackey commented on #16
I just wanted to add that I am addressing this in the new revision of Dragonfly that I am working on right now. The new version that will use the python UWG will involve inputting a brep for the whole terrain and grass areas should be coplanar with this terrain surface.

[2018-05-04 16:52] hamedsangin commented on #17
@chriswmackey
UWG must copy in C:\ladybug
instead C:\
that didn't mention in is this address
https://github.com/chriswmackey/Dragonfly/blob/master/resources/Installation_Instructions.MD
tnk U chris :)

[2018-05-06 00:09] chriswmackey commented on #17
Good point.  The download is supposed to happen automatically in the background but I should add that in case the automatic download fails.
We're pretty close to pushing out a new version of Dragonfly that will use the python version of the UWG.  After we finish that, the installation process is going to get a lot easier.

[2018-06-03 17:45] chriswmackey commented on #16
@ajakubiec ,
I just wanted to let you know that we have a working version of the new Dragonfly and you can download the sample file here:
https://github.com/chriswmackey/Dragonfly/tree/master/newPlugin/sampleFiles

This new version is working with the [Python UWG](https://github.com/ladybug-tools/urbanWeatherGen) and I'll get some detailed installation instructions up here soon.
You will see that

[2018-06-03 17:45] #16 closed

[2018-06-03 17:55] chriswmackey commented on #15
@hamedsangin ,
I have come to realize with time that the NCDC data set is really messy and it's very hard to write a script that will work for all data that is up there.  As such, I am planning to replace this component with one that uses the [DarkSky API](https://darksky.net/dev).  The developers of Dark Sky have doe a good job cleaning up a lot of this publicly available data and, using what the

[2018-06-03 17:55] #15 closed

[2018-06-03 17:57] chriswmackey commented on #11
Thanks @saeranv .  This is all fixed in the newest version so I am going to close out this issue.

[2018-06-03 17:57] #11 closed

[2018-06-03 18:46] chriswmackey opened #18 "Improve Rhino Method for Extracting Building Footprints"
I have come to realize that my current method for extracting building footprints really isn't that good and, while it's fairly accurate, it always produces invalid breps.  So I am thinking of switching it to the following:
1) Project all floors of the building into the XY plane
2) Boolean union these floors together.
3) Duplicate the edge curves of the unioned floors
4) Use the edge curves to crea

[2018-06-03 18:50] chriswmackey opened #19 "Expose Internal Load Parameters?"
Right now, I don't expose these parameters, which are inputs in the .uwg file:

[code]

I feel that people would prefer to have the ability to customize the actual internal loads and schedules before I expose these things but, if I am mistaken, please comment on this issue and let me know.

[2018-06-03 18:51] chriswmackey opened #20 "Component to Make a DF City from Raw Numbers"
Not everyone is going to go through this whole process of making building typologies and then the whole city for the UWG.

Because I have built the new Dragonfly as an object-oriented API, it's easy to add in a component to make a DF city from raw numbers (site coverage ratio, building height, etc) and a single building typology.  I'll do this soon.

[2018-06-03 18:57] chriswmackey opened #21 "Component to Make DF Typology from Building Footprints"
While only some urban areas have fully-detailed 3D models available, nearly all have some sort of 2D representation as polygons.

Because the new dragonfly API is fully object-oriented, I just need to add a fromPolygons() method to the building typology class to have this capability available.

[2018-06-03 22:09] chriswmackey commented on #18
This has been addressed via https://github.com/chriswmackey/Dragonfly/commit/dbb820485b7960f40eb3a0d15b11de996f283b59.  The plan generally worked but the critical things that I had to add to make it work quickly and correctly was a check for geometric equivalence between floor surfaces and a check to make sure that the booleaned floor surfaces were all facing the same direction.

[2018-06-03 22:09] #18 closed

[2018-06-03 22:29] chriswmackey opened #22 "Change Tree Input to be Surfaces"
I'm realizing that we don't really gain anything by plugging in the geometry as a solid. Just plugging in the canopy seems a lot more effieicent and takes less time to generate.

[2018-06-04 16:53] chriswmackey opened #23 "Set Relationship Between characteristic length and urban area to be Square not Circle"
Currently dragonfly assumes the urban area is a circle:
https://github.com/chriswmackey/Dragonfly/blob/master/newPlugin/src/Dragonfly_Dragonfly.py#L1389
.., but the UBLDef assumes a square:
https://github.com/ladybug-tools/urbanWeatherGen/blob/master/UWG/UBLDef.py#L29

[2018-06-09 15:49] chriswmackey commented on #22
This has been addressed

[2018-06-09 15:49] #22 closed

[2018-06-09 15:57] chriswmackey commented on #23
This has been fixed via:
https://github.com/chriswmackey/Dragonfly/commit/9df144431e1c1003ea693d750a6227564bd50c62

[2018-06-09 15:57] #23 closed

[2018-06-09 16:00] chriswmackey opened #24 "Make an Installer Grasshopper Component"
That copies the UWG files into the right directory and copies all relevant userobjects.

[2018-06-09 17:09] chriswmackey commented on #24
This has been addressed via https://github.com/chriswmackey/Dragonfly/commit/762879ccffe5284768c5b3b47a48a704bbad75d1

[2018-06-09 17:09] #24 closed

[2018-06-09 18:58] chriswmackey commented on #20
This was addressed via:
https://github.com/chriswmackey/Dragonfly/commit/05fe09d8180b6006e4f3f2e63bc1f71caa09759e

[2018-06-09 18:59] chriswmackey opened #25 "PEP8-ify all of the Components"
I should do this now before any official release.  It will be a true pain in the neck later

[2018-06-09 19:01] chriswmackey opened #26 "PEP8-ify the Core Libraries"
I can get away with not doing this before the first release.  It just has to be done some time before I pull everything out into standalone .py files that will go under the Ladybug Tools organization.

[2018-06-09 19:02] chriswmackey opened #27 "Component to Make Dragonfly Typologies from Raw Building Parameters"
Things like building height, facade area, etc.  It can be useful for early design cases where we have no idea what the final geometry will be and we just want to make a generic typology.

[2018-06-09 20:12] chriswmackey commented on #25
Done!

[2018-06-09 20:12] #25 closed

[2018-06-10 01:15] saeranv commented on #26
Is there a tool you're using to find and suggest fixes for style inconsistencies like this? I've heard of pylint and linters to do this, but haven't used it...

[2018-06-10 11:57] chriswmackey commented on #26
@saeranv ,
When I translate the core libraries to just be .py files, I will be using the Atom text editor and I have Atom outfitted with a number of plugins to do PE8 checking for me including the following:
![image](https://user-images.githubusercontent.com/5567574/41201299-3ce91cac-6c83-11e8-832a-7dc9162ea2a3.png)
![image](https://user-images.githubusercontent.com/5567574/41201303-49c45996-6c83-

[2018-06-10 12:13] chriswmackey commented on #1
Now that so much has happened since this initial issue, I think some revisions are due.

First, after a roller coaster of a ride getting things to work with the UWG, I think we finally have enough of this workflow working well that we can cross these components off the list.  Large thanks are sure to @saeranv for [translating the UWG to python](https://github.com/ladybug-tools/urbanWeatherGen) and

[2018-06-10 13:06] #20 closed

[2018-06-10 13:07] chriswmackey opened #28 "Add Component to Edit the Envelope Properties of Typologies"
Including:

Glazing Ratio
SHGC
Wall Albedo
Roof Albedo
Roof Vegetation Fraction

More info can be found here:
https://github.com/ladybug-tools/urbanWeatherGen/issues/18#issuecomment-392309705

[2018-06-10 13:16] chriswmackey opened #29 "Add Vegetation Latent Fraction Inputs Back Into Vegetation Parameters"
It seems that they do play a role in the sensible heat calculation as @saeranv notes here:
https://github.com/ladybug-tools/urbanWeatherGen/issues/18#issuecomment-392309705

[2018-06-10 13:17] chriswmackey opened #30 "Overwrite the Envelope Properties of Individual Typologies in the UWG Exporter"
I think I will add some code in the Dragonfly "Run WUG" component that automatically overwrites the glazing ratio of each typology after init_input_obj() is run. This way, it will use the facade-area-weighted glazing ratio across all typologies in the "infinite urban canyon" calculation but it will use the glazing ratio of each individual typology when running the BEM for each typology.

See more

[2018-06-10 14:50] chriswmackey commented on #29
This has been addressed via:
https://github.com/chriswmackey/Dragonfly/commit/fcd108f6e903f751f0339676c34b1c09d6fc2db6

[2018-06-10 14:50] #29 closed

[2018-06-10 19:14] saeranv commented on #26
Cool, I downloaded the more popular pep8 linting libraries there. I've been meaning to try and follow pep8 rigorously for a while, but just have never really got around to it.

[2018-06-11 00:58] saeranv commented on #30
@chriswmackey

I think this is the right way to do it. As I mentioned in briefly in the UWG issue you referenced, I decided to overwrite all the building typology parameters with the one optional SHGC/albedo etc parameters because trying to capture typology-specific optional building parameters would mean we'd have to do something like this for every building type:

[code]

Which I thought would b

[2018-06-13 00:14] chriswmackey opened #31 "Update Component Naming Convention for Easier Search"
The components should not start with "Dragonfly_" as it makes it hard to search for components.  Rather it should be "DF " with a space.

[2018-06-13 04:32] chriswmackey commented on #31
This was addressed via https://github.com/chriswmackey/Dragonfly/commit/d33376c7010c6c97235757eb975576c1585c83e3

[2018-06-13 04:32] #31 closed

[2018-06-13 04:36] chriswmackey commented on #30
This has been addressed via https://github.com/chriswmackey/Dragonfly/commit/d33376c7010c6c97235757eb975576c1585c83e3

I am over-writing the individual parameters of each building typology here:
https://github.com/chriswmackey/Dragonfly/commit/d33376c7010c6c97235757eb975576c1585c83e3#diff-95fc5eb56942581a02377d2b1ce57eb7R189

@saeranv ,
I agree that building matrices for these parameters in the .u

[2018-06-13 04:36] #30 closed

[2018-06-13 04:37] chriswmackey commented on #28
This has been addressed via:
https://github.com/chriswmackey/Dragonfly/commit/d33376c7010c6c97235757eb975576c1585c83e3#diff-c96ca4ee5e10c6e6290a6ca3ea9d45c2R1

[2018-06-13 04:37] #28 closed

[2018-06-14 02:48] chriswmackey commented on #27
This has been addressed via:
https://github.com/chriswmackey/Dragonfly/commit/4cb6cec24eba76c6e833132ce94df7ff17bc28d7

[2018-06-14 02:48] #27 closed

[2018-06-14 02:49] chriswmackey opened #32 "Component To Update Libraries from Github"
Such that people can easily stay synced with this github.

[2018-06-14 04:24] saeranv commented on #19
@chriswmackey, I agree, the internal loads and schedules (by building type) are a lot more useful to modify then these parameters.

[2018-06-14 04:27] saeranv commented on #21
@chriswmackey yes! This would be so awesome with GIS data.

[2018-06-14 04:59] chriswmackey commented on #21
Your wish is granted @saeranv !

This has been addressed via:
https://github.com/chriswmackey/Dragonfly/commit/7030567fc279e92bfef668d6b3e1bfa5e3da2420

You can also see how much cleaner the workflow is in the second sample file here:
https://github.com/chriswmackey/Dragonfly/tree/master/sampleFiles

Now that I've put it together, I actually envision most people using this workflow in Dragonfly si

[2018-06-14 04:59] #21 closed

[2018-06-16 01:51] annasong20 opened #33 "Installing Dragonfly with Rhino 6"
Hi,

I have Rhino 6, and I was trying to install Dragonfly following instructions from this link: https://github.com/chriswmackey/Dragonfly/wiki. To install Ladybug, I followed the link on the previous site to the following link: https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Installation_Instructions.md. The third step is to install GHPython 0.6.0.3 using the following link: ht

[2018-06-16 19:32] chriswmackey commented on #33
@annasong20 ,
GHPython comes installed automatically in Rhino 6 (as does grasshopper). So you should not do this whenever you install Ladybug on Rhino 6.  We should change the install instructions over on the Ladybug github to be clear that the Grasshopper and Python installations only need to be done when using Rhino 5.  Also, in the future, questions like this should be posted to our forum:
http

[2018-06-16 19:32] #33 closed

[2018-06-17 02:23] chriswmackey commented on #32
This was addressed via https://github.com/chriswmackey/Dragonfly/commit/51a47d4a3918e94b4a13dbaa0c1ae6f3130564ce

[2018-06-19 01:24] chriswmackey opened #34 "Update Dragonfly to Assign all Building Parameters After Reading All Input"
At the moment, some of the critical facade parameters are being overwritten when the inputs are being read in.

[2018-06-19 01:24] chriswmackey opened #35 "No Longer Need to Overwrite the Resource Path"

[2018-06-20 04:19] saeranv commented on #34
I've pulled out the initialization of the list of BEM objects into its own method. So you should just be able to use your own Dragonfly method now.

Details here: https://github.com/ladybug-tools/urbanWeatherGen/issues/62

[2018-06-21 12:31] paragrastogi commented on #1
Hi @chriswmackey. Indra has been translated into python 3 (on the repo you linked to). A version will soon be available for free download from the ESP-r website, called Vali (or Wali, Weather As-ya Like It). Vali (son of Indra) is a helper script in Python and Shell that shows how to run Indra. I'm not working on new algorithm development for now, but have my sights set on developing a plug-in for

[2018-06-21 14:24] chriswmackey commented on #34
Great! Thank you @saeranv !

[2018-06-22 03:19] chriswmackey commented on #1
Thanks for the update @paragrastogi . I'm very happy to hear that the translation of Indra to Python is finished!

The use of python 3 means that we won't be able to have people run it using the version of python that installs natively with Rhino or Revit (like we did with the UWG) but this may be just as well since all of the dependencies (numpy, pandas, etc) also present a similar barrier. Havin

[2018-06-24 21:43] chriswmackey commented on #35
This has been addressed via:
https://github.com/chriswmackey/Dragonfly/commit/86a3b22cdd0c0dd24a0c0ebc5191ae00e435a2ce

[2018-06-24 21:43] #35 closed

[2018-06-24 21:43] chriswmackey commented on #34
This has been addressed via
https://github.com/chriswmackey/Dragonfly/commit/86a3b22cdd0c0dd24a0c0ebc5191ae00e435a2ce

[2018-06-24 21:43] #34 closed

[2018-07-09 15:40] hamedsangin opened #37 "old version of Dragonfly didn't remove"
![image](https://user-images.githubusercontent.com/34301946/42460724-d8d0d316-83b3-11e8-83cd-897ff59edd26.png)
after update the old version didn't remove as see in pic

[2018-07-09 15:54] hamedsangin commented on #37
maybe its because of new name for component, it happen

[2018-07-09 22:54] chriswmackey commented on #37
@hamedsangin ,
Given that the first official release of Dragonfly was just today, there isn't any compatability with the previous Dragonfly versions (including the previous update vomponents and workflows). So you have to remove the old components manually from the user objects folder.

[2018-07-11 17:31] annasong20 opened #38 "Potential Bugs"
Hi,

I’ve been looking through the code for various Dragonfly components, and I’ve run into a few lines of code that I think might have been meant to be written differently. Apologies if I am mistaken.

The first occurs in the code behind the DF Dragonfly component, in the Vegetation class’s init method. Line 1880 initializes self._s_trees = is_trees, but there are no getter and setter methods for

[2018-07-12 03:06] chriswmackey commented on #38
@annasong20  ,

Thank you for finding all of these issues and you are right that they are all bugs.  The first 3 are typos and the last one isn't quite so serious that it causes EPWs constantly above the thresholdTemp to fail but it is still bad practice on my part.  The first month of such a warm EPW would usually trigger the first conditional statement:
`if t > thresholdTemp and vegStartSet == F

[2018-07-12 03:06] #38 closed

[2018-07-12 14:24] annasong20 commented on #38
@chriswmackey,

Thanks for your explanation!

[2018-08-06 03:42] saeranv opened #41 "Potential bug re: area-weighted SHGC value"
From @annasong20 here: https://discourse.ladybug.tools/t/dragonfly-ladybug-potential-bugs-and-question/3265/17, we may not be area-weighting the SHGC values when inputted by the user. I'm looking into this now, and hopefully an send a PR soon.

[2018-09-03 17:39] saeranv opened #43 "Characteristic Length Discrepancy re: radius, diameter or square edge."
Re: the 2nd question from @annasong20 here: https://discourse.ladybug.tools/t/dragonfly-ladybug-potential-bugs-and-question/3265/21?u=saeranvasanthakumar

In the UWG code characteristic length is the edge of a square encompassing the urban area. This is what the UWG assumes when it calculates total urban area, built area etc, i.e here: https://github.com/hansukyang/UWG_Matlab/blob/master/UBLDef.m#

[2018-09-03 17:43] saeranv commented on #43
Also note, we've had this discussion before: https://github.com/ladybug-tools/uwg/issues/18

[2018-09-04 16:15] chriswmackey commented on #37
I am going to close this issue out.  Feel free to reopen if my previous response did not address the issue.

[2018-09-04 16:15] #37 closed

[2018-09-04 16:24] chriswmackey commented on #43
@saeranv ,
Thanks for digging into this and it's no wonder why I was surprised when I saw that the UWG code is treating the characteristic length as the length of a square (you are right that everyone else seems to call it a radius). Given that we can clearly see that the code is written using the side of a square, I think that I should make sure Dragonfly always treats the length as the side of a

[2018-09-06 03:35] hansukyang commented on #43
I think this was always defined as a side of a square and there shouldn't
have been any change from Bruno's version. I remember trying a range of
this value and not seeing big impact from this and understood it mostly as
a way to define an area where average urban landscape features are
extracted from.

On 5 September 2018 at 00:24, Chris Mackey <notifications@github.com> wrote:

[2018-10-05 14:38] paulleondrake commented on #1
The create BldgTypology component often gives me the following error.
{0;0}
0. Runtime error (ArgumentTypeException): Multiple targets could match: Compute(Surface), Compute(IEnumerable[GeometryBase]), Compute(Brep), Compute(Curve), Compute(Hatch), Compute(Mesh)

Traceback:
  line 451, in getFloorBreps, "<string>"
  line 644, in calculateTypologyGeoParams, "<string>"
  line 1061, in from_geometry,

[2018-10-16 17:07] paulleondrake opened #44 "BldgTypology component error."
Certain Breps, or possibly combinations of Breps, is failing with the following error. This appears to a be a similar error to past Ladybug tools. Can anyone explain situations they have had this happen?

{0;0}
0. Runtime error (ArgumentTypeException): Multiple targets could match: Compute(Surface), Compute(IEnumerable[GeometryBase]), Compute(Brep), Compute(Curve), Compute(Hatch), Compute(Mesh)

T

[2018-10-27 20:58] chriswmackey commented on #41
I'm closing out this issue now that it has been fixed via https://github.com/chriswmackey/Dragonfly/commit/46789dc0a96c3afe91cba0bee4d24222e65d68a8

[2018-10-27 20:58] #41 closed

[2018-10-28 16:18] chriswmackey commented on #43
It seems that the confusion here was just a mismatch between [what was stated in the original UWG documentation](http://urbanmicroclimate.scripts.mit.edu/uwg_parameters.php) and what was actually the case under the hood in the UWG.  This has been fixed (both in terms of implementation and documentation) for both the plugin here:
https://github.com/chriswmackey/Dragonfly/commit/9df144431e1c1003ea69

[2018-10-28 16:18] #43 closed

[2018-10-28 16:20] chriswmackey commented on #44
@paulleondrake ,

Sorry for the late response.  Can you post a Rhino and Grasshopper definition that recreates the issue.
Also can you confirm which Service Release of Rhino 6 you are using?  The error that you are getting is one that comes from Rhinocommon so it seems the issue is either with your geometry or the version of Rhino that you are using.

[2018-11-02 19:05] paulleondrake commented on #44
@chriswmackey Thank you for the response anyhow. I attached a definition showing a number of breps out of a collection that are causing this issue. This set in particular has a number of the breps, which if included at all, fail the typology component. Sometimes, generating a different area of the city yields no issues at all, whereas other times it seems having only one problematic geometry insta

[2018-11-04 20:40] chriswmackey commented on #44
@paulleondrake ,
Thanks for reporting this.  It seemed like this was just a result of the Rhino intersection methods failing in cases where it should be ignored.  This change fixes the issue:
https://github.com/chriswmackey/Dragonfly/commit/c471ddadd878054760a609067015a3a9dda51876

Update your components and you should be good to go (though I would still recommend doing some cleanup on your geomet

[2018-11-04 20:40] #44 closed

[2018-11-04 20:42] chriswmackey commented on #26
I am closing out this specific issue now that the dragonfly[+] libraries have been PEP8-ified.  I think it's still a good idea to PEP8-ify the UWG at some point, @saeranv .

[2018-11-04 20:42] #26 closed

[2018-11-24 01:43] saeranv opened #45 "DF missing latAnth anthropological latent heat parameter?"
@chriswmackey ,

I think the latAnth parameter isn't defined in Dragonfly.

It's one of the required parameters In the Run UWG component it should be defined in the urban characteristics along with the sensible anthro heat:

https://github.com/chriswmackey/Dragonfly/blob/220e5c11de084b9963cb28d0fe278b74e68e59a1/src/DF%20Run%20Urban%20Weather%20Generator.py#L142-L149

i.e here is default used in th

[2018-11-24 02:02] saeranv opened #46 "DF needs to add floor height parameter to BEM.building not BEM"
@chriswmackey

In the Run UWG component, the floorHeight parameter is being incorrectly assigned to the BEM object, it should be assigned to the building object.
https://github.com/chriswmackey/Dragonfly/blob/220e5c11de084b9963cb28d0fe278b74e68e59a1/src/DF%20Run%20Urban%20Weather%20Generator.py#L195

i.e uwg_typology.building.floorHeight = df_typology.floor_to_floor

I vaguely feel like Anna found

[2018-11-24 06:07] saeranv opened #47 "Change the simTime.dt to 200 seconds by default"
@chriswmackey

As mentioned by Joseph, changing the default simTime.dt to 200 seconds will fix the FATAL ERROR mistake (at least for the version of this we've encountered thus far on the forums).

I've changed the default to 200 seconds (in the initialize.uwg) in the UWG, and I think it would be a good idea to do the same thing for the DF components.

Also, I've revised the error handling on the s

[2018-11-24 18:47] saeranv commented on #45
Update: I pulled out a separate check_required_parameters method in UWG for this purpose.

https://github.com/saeranv/uwg/blob/960e479d9f5170e05b4c95cb5f85862c4580ef14/uwg/uwg.py#L437-L469

So you should just be able to add this to the RunUWG component:
[code]

To confirm all the required inputs are there.

[2018-11-24 19:11] saeranv commented on #47
Update: the refactored UWG code is available in this PR: https://github.com/chriswmackey/Dragonfly/pull/48

[2018-11-25 13:47] chriswmackey commented on #47
Thanks for taking care of this @saeranv ,

As you can see, there is no versioning set up on the legacy repo here (my development of this repo is pretty much frozen).  The purpose of this repo at this point is mostly to help us find issues like this one so that we can make sure that they are fixed on the Dragonfly core library.

... and speaking of this, I have changed the default simTimestep on th

[2018-11-25 13:47] #47 closed

[2018-11-25 14:06] chriswmackey commented on #46
Thanks for finding this one @saeranv and @annasong20 !

I have fixed this both in the legacy plugin here:
https://github.com/chriswmackey/Dragonfly/commit/2b58ac695423e4feb3e438222ef026437c60a295

... and in the core library:
https://github.com/ladybug-tools/dragonfly/commit/9dce11a09d71d81e3ae9879bc43818c69a2d740e

[2018-11-25 14:06] #46 closed

[2018-11-25 14:58] chriswmackey commented on #45
@saeranv ,

I have started to integrate the check but I can't get it to pass even though all of the required inputs seem to be assigned.  It would be extremely helpful to have this function state what input is missing because, otherwise, this function really isn't any more helpful than the alternative.

In fact, I would argue that this function is currently less helpful than the alternative since,

[2018-11-25 15:04] chriswmackey commented on #45
I think that I will hold off on implementing the check function in both the legacy dragonfly and the dragonfly core until the information from the check is more useful.  Let me know if you manage to push such a change, @saeranv , and I will implement it on both repos.

[2018-11-25 17:53] saeranv commented on #45
@chriswmackey

You're right, I completely forgot that we decided to omit the latAnth because it wasn't being used in this version of the uwg. The issue then is not that it's missing from DF, but that it's still a required parameter in the UWG! I'll make sure to remove it.

And yes, I can change the required parameters methods. I implemented that method as a quick and dirty patch to catch any integ

[2018-11-25 22:13] chriswmackey commented on #45
@saeranv ,

All makes sense and thank you for the explanation.  I am glad to hear that you will remove latAnth from the UWG since it seems like it will be a while before we can get around to moisture balance calculations.

That would be great if you can improve the required parameters check and you are right that it is better to have the simulation fail rather than return an incorrect success.  I

[2018-11-28 05:49] saeranv commented on #45
Done!

There's a PR with the new check_required_inputs method that should solve this. I rewrote everything to simply be a series of assert statements, so it should provide you the info you need to isolate your problem, a lot better now.

I also removed the latAnth from the .uwg sample files in the UWG repo.

[2018-11-28 16:24] saeranv commented on #45
I forgot that I had push access to your DF repo, and mistakenly just pushed my refactored UWG code directly into the base/canonical fork. At any rate test it out and let me know how it goes.

[2018-11-30 01:28] chriswmackey commented on #45
@saeranv ,
Awesome.  Thanks for doing this and no worries about the direct push (it actually helps me out a bit here).  Let me see if I can add the check into the "Run UWG" component now.

[2018-11-30 02:26] chriswmackey commented on #45
@saeranv ,

There were large number of inputs going into the UWG as integers and not floats.  While your new code allowed me to see on what line the assertion failed (and thus deduce which input was wrong), it still isn't the way that I would implement these types of checks since someone who doesn't have the uwg code in font of them is still not going to know what has gone worng.

I changed the ch

[2018-11-30 04:13] saeranv commented on #45
Man, I'm humbled by your attention to detail here @chriswmackey. Thanks for making these edits, and I'll up my raised exceptions/assert game next time to match this.

Closed!

[2018-11-30 04:13] #45 closed

[2019-01-11 00:04] paulleondrake commented on #1
I wanted to chime in to see if I can be of a bit of help in developing Dragonfly and UWG. One thing I wanted to see if I could specifically contribute to is getting moisture balance considered in the analysis. I remember you all discussing it from pull #45. Could you all outline what needs to happen in order to implement latent heat calculations more accurately?

I'm also generally interested in a

[2019-01-18 15:00] chriswmackey commented on #1
@paulleondrake ,

I apologize for such a late response.  The latent heat calculations should be implemented under the hood of the UWG before they are exposed on Dragonfly.  This is the repo where everything should happen:
https://github.com/ladybug-tools/uwg

You can see that @saeranv is BDFL of that repo and he could probably guide you better than I can.  I can say that the key challenges that ha

[2019-02-14 13:30] isabelauer opened #55 "error running install.gh"
Hello,

unfortunately I have troubles running the install.gh file. I followed the instructions regarding ladybug/honeybee and dragonfly installation but -apparently- the copying from the userobjects to C:\users\zentr\AppData\Roaming\Grasshopper\UserObjects does not work.

This error message appears: Runtime error (ArgumentOutOfRangeException): Der Index lag außerhalb des Bereichs. Er darf nicht ne

[2019-03-05 03:26] yuanyimei opened #56 "some problems about the output interval"
Dear chris @chriswmackey
I just wondering how to set the  the output interval in the dragonfly workflow.As we can see in the old ladybug version（VER0.0.65）the output interval can be set. But I can't find the option in the dragonfly workflow.So how can I set this in the dragonfly?Looking forward to your reply.
![_20190305112505](https://user-images.githubusercontent.com/39336329/53779049-c4443180-3

[2019-03-05 09:30] AntonelloDN commented on #56
Hi @yuanyimei,

I am in charge of the part of envimet components for Grasshopper.
The old component was made following a text form whilst the new one follow the XML structure which is used in latest version of ENVI_MET. OutputTiming is not part of the main settings anymore.

I can create a new component today and add it to settings component. I suggest you look at "DF Envimet Information" where I

[2019-03-06 04:21] yuanyimei commented on #56
Hi  @AntonelloDN,

It works! I 'm so excited, thank you for your kindly help.

yuanyimei

[2019-03-06 10:54] AntonelloDN commented on #56
Solved by #57
Thanks @yuanyimei

[2019-03-06 10:54] #56 closed

[2019-05-20 09:06] sytsek47 commented on #55
Dear Dragonfly-developers/users,

I am running exactly into the same issue, which I am not able to resolve. Can anyone please help me/us? It makes the work much easier to build real-world envimet simulations.

Many thanks in advance,
kind regards,
Sytse

![installergh](https://user-images.githubusercontent.com/25325023/58009591-133c4480-7aef-11e9-93cb-3928da8802ee.png)

[2019-05-20 19:59] chriswmackey commented on #55
@isabelauer and @sytsek47 ,

Sorry for the late reply here. It looks like this issue may result from having g an older version of some of the components installed. Can you try completely deleting the Dragonfly folder and seeing if you can re-run the installation file without issues. I'll see if I can check the exact line that is failing later.

[2019-05-21 14:10] sytsek47 commented on #55
Dear Chris,

Thank you for your reply. I was able to get the envimet utilities by moving the DragonFlyEnvimet.gha to the Components file in the Grasshopper Plugins folder. C:\Program Files\Rhino 6\Plug-ins\Grasshopper\Components.

Kind regards,
Sytse

From: Chris Mackey <notifications@github.com>
Sent: Monday, May 20, 2019 10:00 PM
To: chriswmackey/Dragonfly <Dragonfly@noreply.github.com>
Cc: Koop

[2019-05-21 14:12] sytsek47 commented on #55
I was able to get the envimet utilities by moving the DragonFlyEnvimet.gha to the Components file in the Grasshopper Plugins folder. C:\Program Files\Rhino 6\Plug-ins\Grasshopper\Components. I got this idea from a discussion how to install custom ghx compontents: https://www.grasshopper3d.com/forum/topics/how-do-i-install-a-custom-ghx

[2019-07-01 11:22] isabelauer opened #59 "problems zbottom buildings dragonfly"
Hi,

EDIT: It seems, that the problem only occurs if I change the input for telescope/ starttelescopeheight.

I am having problems converting closed polysurfaces in Rhino to buildings in ENVImet Spaces.

After running my .gh file, a Spaces File is created. However, in ENVImet it shows that z bottom of the buildings z0=2m (and it should be z0=0m).
I am not using any topography information.
The prev

[2019-10-16 00:44] yingz123 commented on #55
Hi, I have got the same problem not being able to get the envimet features. I tried to delete all the old files and even reinstall rhino, but it still doesnt work. It would be great if you could provide a solution.

[2019-10-16 05:55] AntonelloDN commented on #55
Hi @yingz123,
Could you please provide screenshots about your UserObjects folder and Components folder?
Thanks

[2019-10-22 05:35] lisha992610 opened #61 "start envimet simulation without opening envi-met software"
Hello

According to the article: https://www.envi-met.com/first-envi-met-plugin-for-rhino-grasshopper/ .
I read on the above article, that this plugin could convert 3d model (e.g. .3ds) into envi-met model area (.inx) and run the envi-met simulation without opening the software. Is that correct?

I am attempting to put envi-met simulation on supercomputers where we don't have any user interface. P

[2019-10-22 06:10] AntonelloDN commented on #61
Hi @lisha992610,
Yes, you can but with some restrictions. Building have to be closed volumes, and you need to clean geometries as much as possible. I have made a new version of plugin and it is already available in beta version on my github page. I have improved usability of it. I will send a pull request to Dragonfly soon.

As you should know, Envimet software is mainly for PC for now. Keep in mi

[2019-11-11 00:55] spark9504 opened #63 "There are not Naked edge but it's not solid or closed polysrf"
Hi,

I am trying to use Envi-met with dragonfly and having hard time with "DF Envimet Buildings" function.
![image](https://user-images.githubusercontent.com/56981582/68553951-915b2180-0468-11ea-9e45-671a55cea694.png)

My buildings do not have Naked edges but, as you can see, it keeps saying "1. Please provide closed geometries"

![image](https://user-images.githubusercontent.com/56981582/68554034

[2019-11-11 08:01] AntonelloDN commented on #61
Hi @lisha992610,

both INX and SIMX should be saved on supercomputer. Have you had a test?

Antonello

[2019-11-11 08:08] AntonelloDN commented on #63
Hi @spark9504,

Can you subscribe [https://discourse.ladybug.tools/](url) and open a discussion there?
I need to check your file in order to help you.

Antonello

[2019-12-12 20:30] yuenyat commented on #55
Hi @AntonelloDN
I got same problem and have tried to reinstall rhino as well.
Here are my screenshots. Wish they help.

![image](https://user-images.githubusercontent.com/30655212/70746093-36b32f00-1d60-11ea-8d3e-9712eda3a13f.png)
![image](https://user-images.githubusercontent.com/30655212/70746453-cf49af00-1d60-11ea-9908-a5b41fb2b4d4.png)
![image](https://user-images.githubusercontent.com/3065521

[2020-06-08 09:11] frank984 opened #73 "DF envimet: apply user custom materials"
Maybe @AntonelloDN could find a solution to this issue:
I defined new wall in the envimet database manager (ENVi v. 4.4.5) :
![image](https://user-images.githubusercontent.com/6491927/84011386-51183f00-a976-11ea-80c9-bc4c729bf678.png)
Then I opened my .gh file and applied this wall to breps:
![image](https://user-images.githubusercontent.com/6491927/84011536-8e7ccc80-a976-11ea-9ba2-b9b505f08131.pn

[2020-06-08 16:10] #55 closed

[2020-06-08 16:10] #63 closed

[2020-06-08 16:12] AntonelloDN commented on #59
grid points consist of centroids

[2020-06-08 16:12] #59 closed

[2020-06-08 16:14] AntonelloDN commented on #61
@lisha992610, I close this issue because of inactivity. If you would like you can open it again. Thanks for collaboration.

[2020-06-08 16:14] #61 closed

[2020-06-08 16:29] AntonelloDN commented on #73
Hi @frank984,

Material shoud be there, could you try to repeat workflow and open directly 3D view, check if you see your custom material (try to give a color different from 000000 to your materials).
Please, let me know if you see your custom material on 3D view.

The issue should be only with 2D mode because of a small change in INX structure, if I am not wrong, with Monde integration. I can fix

[2020-06-08 17:13] frank984 commented on #73
Hi Antonello. First of all thank you for yout prompt reply.
I changed the colour of the wall:
![image](https://user-images.githubusercontent.com/6491927/84059791-724f4e80-a9bb-11ea-8283-48faec9e8900.png)
And effectively, in 3D view I can see my custom material:
![image](https://user-images.githubusercontent.com/6491927/84060047-d540e580-a9bb-11ea-9cfd-be3decadbf4c.png)
Thank you and have a good ev

[2020-06-09 08:53] AntonelloDN commented on #73
@frank984 I have fixed it. I have released it in "stage environment" where envimet components code is: [df_envimet](https://github.com/AntonelloDN/df_envimet/blob/master/plugin%20beta/readme.md).
Feel you free to test it. Thanks.

[2020-06-09 13:15] frank984 commented on #73
I confirm that the issue has been resolved:
![image](https://user-images.githubusercontent.com/6491927/84151455-b1d17580-aa63-11ea-809e-796d0055daba.png)
Thank you @AntonelloDN!

[2020-06-09 15:16] #73 closed

[2022-06-23 14:12] Bowen49 opened #82 "Problem of envimet location"
Hello,

I am trying to follow the same steps as the ones in the tutorials of Envi-met for creating an INX file.

So the task at hand is, I have several Rhino files which are actually the 3d models of a built area. I would like to convert that file into an INX file and eventually
recreate the same structures inside Envi-met. However, at the start of the procedure, when I use the "DFEnvimetlocation"

[2022-06-24 16:12] mostaphaRoudsari commented on #82
Hi @Bowen49 you should post this question to the forum: https://discourse.ladybug.tools

The answer probably is that you need to use the location component from the legacy plugins.

[2022-06-24 16:12] #82 closed